<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <title>EDit Post</title>
</head>
<body>
     <h1>NOT YET READY completely but still can be edited </h1>
    <div class="Container" style="padding: 50px;">
       
    <h2>Edit posts</h2>
    <p>Post id: <%=post.id%></p>
    <p class="username">post username: @<%=post.username%></p>
    <img src="<%=post.image%>" alt="" class="image">
    <br>
    <!-- after submtting form, PATCH req is sent to server -->
    <!-- <form method="post" action="/posts/<%=post.id%>?_method=PATCH" enctype="multipart/form-data" >you cant write method="get" it will not work -->
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH" enctype="multipart/form-data"></form>
        <input type="file" name="image" accept="image/*" class="selectFile">
        <br>
        <textarea name="caption" id="" rows="5" cols="5" class="caption"><%=post.caption%></textarea>
        <br>
        <button>Submit</button>
        <br>
        <button id="GO_BACK">GO BACK</button>
        </form>
    </div>
        <script>
        let GO_BACK =document.querySelector("#GO_BACK");
        GO_BACK.addEventListener("click",()=>{
            // Option 1: Go to posts page
            // window.location.href="/posts"

            // Option 2: Go back in history (like browser back button)
            window.history.back();
        })
    </script>
    </form>
</body>
</html>