<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post in detail</title>
    <link rel="stylesheet" href="/show.css">
</head>

<body>

    <div class="Container"style="padding: 50px;">
        <h3>Here is the post </h4>
        <p id="id">Post id : <%= post.id %>
        </p>
        <h4 class="username" >@<%= post.username%>
        </h3>
        <br>
        <% if (post.image){ %>
            <img src="<%= post.image %>" alt="" style="align-self: centers;" class="image">
            <%}%>
                <br>
                <h3 class="caption">
                    <%= post.caption%>
                </h3>
                <a href="/posts/<%= post.id %>/edit" class="link">Edit post</a>
                <button id="GO_BACK">GO BACK</button>
    </div>
    <script>
        let GO_BACK = document.querySelector("#GO_BACK");
        GO_BACK.addEventListener("click", () => {
            // Option 1: Go to posts page
            window.location.href = "/posts"

            // Option 2: Go back in history (like browser back button)
            // window.history.back();
        })
    </script>
</body>

</html>